<% @jolly_day = JollyDay.find(1) %>
<div class="container m-6">
  <div class="header row justify-content-center">
    <%= image_tag "leftjolly.png", id: "image-left" %>
    <%= image_tag "rightjolly.png", id: "image-right" %>
    <div class="col-12 col-md-9 col-lg-7 p-2">
      <div class="text-center">
        <h1 class="my-4">Jolly Day</h1>
        <p> O que é o Jolly Day?</p>
        <p>Um evento de recreação profissional, elaborado especialmente para o seu condomínio, e totalmente gratuito.</p>
        <p><strong>Objetivo:</strong> Oferecer um dia lúdico para crianças entre <%= @jolly_day.minimum_age %> e <%= @jolly_day.maximum_age %> anos de idade e apresentar nossa plataforma para os pais</p>



        <div class="d-flex justify-content-between align-items-center pb-4" data-toggle="collapse" data-target="#marcelo" aria-expanded="false" aria-controls="marcelo">
          <%= image_tag "Marcelo.png", alt: "Marcelo Soares", class: "avatar-bordered" %>
          <h3 class="px-5"> <strong>Recreador:</strong> Marcelo Soares</h3>
          <div>
            Saiba mais &nbsp;
            <i class="fas fa-angle-down fa-2x"></i>
          </div>
        </div>
        <div class="collapse" id="marcelo">
          <div class="pl-4">
            <p class="text-center px-5"> A sessão recreativa será oferecida pelo Marcelo Soares, professor de ed. física, especializado em psicomotrocidade infantil e recreador há 10 anos. Criador de esportes alternativos que já foram destaque em diversos programas televisos e jornais. Marcelo e a equipe da Criarte irão organizar as atividades de acordo com a faixa etária e interesse.</p>
          </div>
        </div>

      </div>
      <div class="info-card p-2">
        <div class="row justify-content-center">
          <div class="col-1"></div>
          <div class="col-9"> <h4><%= @jolly_day.name %></h4></div>
        </div>
        <div class="row justify-content-center">
          <div class="col-1 text-center"> <i class="far fa-clock"></i> </div>
          <div class="col-9"> <p>  <%= @jolly_day.start.strftime("%d/%m/%Y, %H:%M") %> - <%= @jolly_day.end.strftime("%H:%M") %></p> </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-1 text-center"> <i class="fas fa-child"></i> </div>
          <div class="col-9"> <p> <%= @jolly_day.minimum_age %> - <%= @jolly_day.maximum_age %> anos</p> </div>
        </div>
      </div>
      <div class="py-4">
        <h3>Inscreva-se agora: as vagas são limitadas!</h3>
        <% if @jolly_day.jolly_day_participants.size < @jolly_day.maximum_capacity %>
          <%= simple_form_for @jolly_day_participant do |f| %>
            <%= f.error_notification %>
            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%= f.input :child_name %>
            <%= f.input :child_age , input_html: { min:@jolly_day.minimum_age , max: @jolly_day.maximum_age}%>
            <%= f.input :email_address %>
            <%= f.input :phone_number %>
            <%= f.input :newsletter_signup, input_html: { checked: false } %>
            <div class="row justify-content-center">
              <%= f.submit "Hora de Brincar!" , class: "primary-button" %>
            </div>
          <% end %>
        <% else %>
          Ih... estamos cheios! Esse Jolly Day tá um sucesso e a gente espera você no próximo, ok?
        <% end %>
      </div>
      <div class="text-center">
        <h3>Hora de brincar!</h3>
        <p>Encontre experiências divertidas e educativas oferecidas por profissionais em recreação infantil no seu condomínio.</p>
        <p>Acreditamos que brincar é essencial para a infância e o desenvolvimento integral do ser humano.
          Durante a pandemia, muitas crianças ficaram confinadas e tiveram efeitos psicológicos negativos.
          A Jolly surge nesse cenário para oferecer opções seguras, divertidas e educativas de recreação.</p>
        </p>
        <p>Saiba mais sobre a Jolly</p>
      </div>
    </div>
  </div>
</div>
