<div class="container m-auto">
  <%= link_to "New Booking", play_sessions_path, class: "btn"  %>
  <% @bookings.each do |booking| %>
    <div class="d-flex d-flex justify-content-around bg-light p-4">
      <%= cl_image_tag booking.play_session.photo.key, height: 300, width: 400, crop: :fill %>
      <div class= "d-flex-columns p-4">
        <h1><%= booking.play_session.name %></h1>
        <p><%= booking.play_session.description %></p>
        <p>Requirements: <%= booking.play_session.requirements  %></p>
        <h2>Booking details</h2>
        <p>This booking is for: <%= booking.name_of_kid %></p>
        <p>Age: <%= booking.age_of_kid %></p>
        <p>Comments: <%= booking.comment %></p>
      </div>
      <div class="d-flex-columns">
        <%= link_to "Edit booking", edit_booking_path(booking.id), class: "btn" %>
        <%= link_to "Cancel booking", bookings_path(booking.id), method: :delete, remote: true, class: "btn" %>
      </div>
    </div>
  <% end %>
</div>
