<div class="container">
  <div class= "text-center m-4">
    <%= link_to "New Booking", play_sessions_path, class: "button_1"  %>
  </div>
  <div class="cards">
    <% @bookings.each do |booking| %>
      <div class="card">
        <div class="card-header", style="background-image:linear-gradient(to bottom, rgba(0,0,0,0.1),rgba(0,0,0,0.3)), url(<%= cl_image_path booking.play_session.photo.key%>); background-repeat: no-repeat; background-size: cover; background-position: center;">
          <h2><%= booking.play_session.name %></h2>
        </div>
        <div class="card-infos">
          <div class="card-details">
            <p><i class="far fa-clock p-2"></i>  &nbsp; &nbsp;  <%= booking.play_session.appointment.start_time.strftime("%d/%m/%Y - %H:%M") %></p>
            <p><i class="fas fa-child p-2"></i> Booked for: <%= booking.name_of_kid %></p>
            <p><i class="fas fa-money-check-alt p-2"></i> Payment status: <%= booking.status %></p>
            <p><i class="far fa-check-circle p-2"></i> Session status: <%= booking.play_session.status %></p>
          </div>
          <div class= "text-right pb-2">
              <%= link_to "View", booking_path(booking.id), class:"button_2"%>
              <br>
              <br>
              <%= link_to "Edit", edit_booking_path(booking.id), class:"button_2" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <br>
</div>
