<div class="booking-background py-5">
  <div class="d-flex justify-content-center py-5">
    <i class="fas fa-calendar-check"></i>
    <div class="info-box">
      <br>
      <br>
      <h2 class="text-center"> Dear <%= @booking.user.first_name.capitalize %> <%= @booking.user.last_name.capitalize %> </h2>
      <p class="text-center"> Payment Status: <%= @booking.status %></p>
      <div class="text-center">
        <% if @booking.status == "pending" %>
          <button id="pay" class="button_1"> Proceed to payment </button>
        <% elsif @booking.status == "cancelled" %>
          <h1 class="text-center"> Booking cancelled </h1>
        <% else %>
          <h1 class="text-center"> Booking confirmed - Ready to play! </h1>
        <% end %>
      </div>
        <%= link_to play_session_path(@booking.play_session), {:style=>"text-decoration: none; color: black;"} do %>
        <div class="card my-4" >
          <div class="card-header", style="background-image:linear-gradient(to bottom, rgba(0,0,0,0.1),rgba(0,0,0,0.3)), url(<%= cl_image_path @booking.play_session.photo.key %>); background-repeat: no-repeat; background-size: cover; background-position: center;">
            <h2> <%= @booking.play_session.name.capitalize %> </h2>
          </div>
            <div class="card-infos">
              <div class="card-details">
                <p> <i class="far fa-clock"></i> &nbsp;  <%= @booking.play_session.appointment.start_time.strftime("%d/%m/%Y - %H:%M") %> </p>
                <p>  <i class="fas fa-map-pin"></i> &nbsp; &nbsp; &nbsp;   <%= @booking.play_session.appointment.play_space.neighbourhood %> </p>
              </div>
              <%= cl_image_tag @booking.play_session.user.avatar.key, class: "play-session-provider-avatar-bordered" %>
              <h4> R$ <%= @booking.play_session.sum_fees %></h4>
            </div>
      <% end %>
    </div>
  </div>
</div>


<script src="https://js.stripe.com/v3/"></script>
<script>
  const paymentButton = document.getElementById('pay');
  if (paymentButton) {
    paymentButton.addEventListener('click', () => {
      const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
      stripe.redirectToCheckout({
        sessionId: '<%= @booking.checkout_session_id %>'
      });
    });
  }
</script>
