<div class="container m-6">
    <div class="card p-4">
      <h2 class="text-center"> Dear <%= @booking.user.first_name.capitalize %> </h2>
      <h1 class="text-center"> Thank you for your booking </h1>
      <div class="text-center"><i class="far fa-check-circle"></i></div>
      <div class="info-booking">
        <p><%= @booking.play_session.description %></p>
        <br>
        <p> Status: <%= @booking.status %></p>
        <p> The requirements for this booking: <%= @booking.play_session.requirements %></p>
        <p> Time: <%= @booking.play_session.appointment.start_time %> - <%= @booking.play_session.appointment.end_time %></p>
        <p> Location: <%= @booking.play_session.appointment.play_space.street %> <%= @booking.play_session.appointment.play_space.street_number %> <%= @booking.play_session.appointment.play_space.neighbourhood %> </p>
        <p> Cost: <%= @booking.play_session.sum_fee %></p>
        <p> Capacity: <%= @booking.play_session.appointment.minimum_capacity %> - <%= @booking.play_session.appointment.maximum_capacity %> kids </p>
        <p> Provided by: <%= @booking.play_session.user.first_name %> </p>
      </div>
  </div>

  <div class="container">
  <div class="row">
    <div class="col-md-12 mt-4 text-center">
      <h1> Welcome  <%= @user %></h1>
    </div>
  </div>
  <div class="row">
    <h2 class="col-md-12 mt-5 text-center">
      Are you ready to pay?
    </h2>
  </div>
  <div class="row">
    <div class="col-md-12 mt-4 text-center">
      <button class="btn btn-primary">Let's go </button>
    </div>
  </div>
</div>
  <%= form_tag id: "billing-create-payment-method" do  %>
    <%= link_to "Let's go", add_payment_method_path, remote: true, class: "btn btn-primary" %>
  <% end %>

