<div class="container">
  <div class="d-flex justify-content-between p-4">
    <div>
      <%= cl_image_tag @user.avatar.key, class: "avatar-bordered" %>

      <h2> Name: <%= @user.first_name %> <%= @user.last_name %> </h2>
      <p> Bio: <%= @user.bio %> </p>
      <%= link_to "Edit", edit_user_registration_path, class:"button_2" %>
       <br>
        <br>
      <% if @user.average_stars.negative? %>
        <p> Has no reviews yet </p>
      <% else %>
        <h4> Rating: <%= @user.average_stars %> stars </h4>
        <p><% @user.average_stars.times do  %>
           <i class="fas fa-star"></i>
        <% end %>
        <% @user.blank_stars.times do %>
          <i class="far fa-star"></i>
        <% end %></p>
      <% end %>
    </div>
  </div>
  <div class="p-4">
    <h3> These are your addresses </h3>
      <br>
       <%= link_to "Add an address", new_user_address_path(@user.id), class:"button_2"%>
       <br>
        <br>
    <div class ="cards">
      <% @addresses.each do |address| %>
        <div class="card p-4">
            <h4> <%= address.name %>  %> </h4>
            <br>
            <p><%= address.street %>,<%= address.street_number %> - <%= address.neighbourhood %></p>
            <p><%= address.city %>-<%= address.state %></p>
            <p><%= address.zip_code %></p>
            <br>
            <p> <%= link_to "Edit", edit_address_path(address.id), class:"button_2"%> </p>
            <%= link_to "Delete", address_path(address.id), method: :delete, class:"button_2"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
