<div class="container col-6">
  <h1 class="text-center">Edit Appointment</h1>

  <%= simple_form_for @appointment do |f| %>
    <%= f.error_notification %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.input :minimum_capacity %>
    <%= f.input :maximum_capacity %>
    <%= f.submit "Edit", class: "btn btn-warning btn-block" %>
    <br>
    <br>
  <% end %>

</div>
