<div class="container m-8">
  <div  class="card-columns">
    <% @appointments.each do |appointment|%>
      <div class="card" >
        <h2> <%= appointment.play_space.name.capitalize %> </h2>
        <p> <%= t("appointment.index.min_cap") %> <%= appointment.minimum_capacity %> <p>
        <p> <%= t("appointment.index.max_cap") %> <%= appointment.maximum_capacity %> </p>
        <p> <%= t("appointment.index.start_time") %> <%= appointment.start_time %></p>
        <p> <%= t("appointment.index.end_time") %> <%= appointment.start_time %></p>
        <p> <%= t("appointment.index.fee_kid") %> <%= humanized_money_with_symbol(appointment.owner_fee_per_kid_cents) %></p>

        <%= link_to t("appointment.index.btn"), new_appointment_play_session_path(appointment.id), class: "btn btn-secondary" %>

      </div>
    <% end %>
  </div>
</div>


