  <div class="container m-8">
     <% @appointments.each do |appointment|%>
      <%= appointment.play_space.name.capitalize %>
      <p> Minimum capacity: <%= appointment.minimum_capacity %> <p>
      <p> Maximum capacity: <%= appointment.maximum_capacity %> </p>
      <p> Start time: <%= appointment.start_time %></p>
      <p> End time: <%= appointment.start_time %></p>
     <p> Fee per kid: <%= humanized_money_with_symbol(appointment.owner_fee_per_kid_cents) %></p>
    <% end %>
  </div>


