<div class="container col-6">
  <h1 class="text-center">Add a new Appointment</h1>

<%= simple_form_for @appointment do |f| %>
  <%= f.error_notification %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.input :minimum_capacity %>
  <%= f.input :maximum_capacity %>
  <%= f.submit "Add New Appointment", class: "btn btn-warning btn-block" %>
<% end %>
<br>

</div>
