<div class="container m-6">
<h1> <%= t("appointment.new.title") %> <%= @play_space.address.name %></h1>
<p> <%= t("appointment.new.description") %> </p>
<%= simple_form_for [@play_space, @appointment] do |f| %>
  <%= f.error_notification %>

  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.input :minimum_capacity %>
  <%= f.input :maximum_capacity %>
  <%= f.input :owner_fee_per_kid_cents, label: t("appointment.new.label") %>
  <%= f.submit t("appointment.new.submit") %>
<% end %>
</div>
