<div class="container m-6">
  <div class="card p-4">
    <h2 class="text-center"> Available appointment for <%= @appointment.play_space.name.capitalize %> </h2>
      <p> Minimum capacity: <%= @appointment.minimum_capacity %>
      <p> Maximum capacity: <%= @appointment.maximum_capacity %> </p>
      <p> Start time: <%= @appointment.start_time %></p>
      <p> End time: <%= @appointment.end_time %></p>
      <p> Fee per kid: <%= humanized_money_with_symbol(@appointment.owner_fee_per_kid_cents) %></p>

    </div>
</div>

<div class="text-center links">
      <%= link_to "Edit", appointment_path(@appointment.id), class: "btn" %>
      <%= link_to "Delete", appointment_path(@appointment.id), method: :delete, remote: true, class: "btn" %>
</div>

