<div class="container m-6">
  <h1> Describe your Play Session:</h1>
  <%= simple_form_for @review do |f| %>
    <%= f.error_notification %>
    <%= f.input :stars, collection: Review::STARS, prompt: :translate %>
    <%= f.input :content %>
    <%= f.submit "Update this review", class: "button_1" %>
  <% end %>
</div>
