  <div id="play_spaces">
    <div  class="card-columns">
      <% hairs.each do |play_space|%>
        <div class="card" id="play_space-id-<%= play_space.id %>">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <%= cl_image_tag play_space.photos.first.key, :class => "d-block w-100" %>
                  </div>
                  <% play_space.photos.each do |photo| %>
                    <% if photo != play_space.photos.first %>
                      <div class="carousel-item">
                        <%= cl_image_tag photo.key, :class => "d-block w-100" %>
                      </div>
                    <% end %>
                  <% end %>
                </div>

              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          <div class="card-infos">
            <div>
               <p> <%= play_space_name %> is located at <%= play_space.play_space_neighbourhood %> , <%= play_space.street_number %> number <%= play_space.street %> street </p>
              <p> <%= play_space.city %> city <%= play_space.state %> state <%= play_space.zip_code %> zip code <%= play_space.facilities %> has facilities </p>
            </div>
            <%= link_to 'Purchase Now!', play_space_path(play_space.id), class: 'btn btn-warning' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
