<div class="container col-6">
  <h1 class="text-center">Edit hair</h1>

  <%= simple_form_for @hair do |f| %>
    <%= f.error_notification %>
    <%= f.input :length_cm %>
    <%= f.input :weight_grams %>
    <%= f.input :hair_type, collection: Hair::TYPES, prompt: :translate %>
    <%= f.input :price %>
    <%= f.input :colour %>
    <%= f.input :ethnicity, collection: Hair::ETHNICITY, prompt: :translate %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Edit", class: "btn btn-warning btn-block" %>
    <br>
    <br>
  <% end %>

</div>
