<div class="container m-auto">
  <%= simple_form_for :search, url: play_sessions_path, method: "GET" do |f| %>
    <h1> Find a play session for your kid:</h1>
    <%= f.input :time, required: false, as: :datetime %>
    <%= f.input :neighbourhood, required: false, collection: PlaySpace::NEIGHBOURHOOD, prompt: :translate %>
    <div class="bottom d-flex justify-content-center align-items-center">
      <%= f.submit "filter", class: "button_1" %>
      <%= link_to "reset", play_sessions_path, class: "button_2" %>
    </div>
  <% end %>

  <div  class="card-columns">
    <% @play_sessions.each do |play_session| %>
      <div class="card" >
        <%= cl_image_tag play_session.photo.key, class: "d-block w-100"  %>
        <div class="card-infos">
          <h3> <%= link_to play_session.name.capitalize, play_session_path(play_session) %> </h3>
          <h4> Provided by <%= play_session.user.first_name %> <%= cl_image_tag  play_session.user.avatar.key, class: "avatar" %> </h4>
          <h5> in <%= play_session.appointment.play_space.neighbourhood %> </h5>
          <p> This play session takes place on <%= play_session.appointment.start_time %></p>
          <p> Requirements: <%= play_session.requirements %></p>
          <p> Status: <%= play_session.status %></p>
          <p>Total fee per kid: <%= play_session.sum_fee %></p>
          <% if user_signed_in? && current_user.role == "parent" %>
            <%= link_to 'Book this session', new_play_session_booking_path(play_session.id), class: "btn btn-secondary" %>
          <% end %>
          <br>
        </div>
      </div>
    <% end %>
  </div>
</div>
