<%= render 'shared/banner' %>
  <div class="container m-8">

  <%= simple_form_for :search, url: play_spaces_path, method: "GET" do |f| %>
  <div class="bottom d-flex justify-content-between align-items-center">
    <p> Search your dream play space:</p>
          <!-- need to edit  -->
        <%= f.submit "Search", class: "btn btn-warning" %>
        <%= link_to 'Reset', hairs_path %>
    <% end %>
  </div>
    <div id="play_spaces">
      <%= render 'play_space', play_spaces: @unsold_play_spaces %>
    </div>
    </div>
