<%= simple_form_for :search, url: play_sessions_path, method: "GET" do |f| %>
<div class="bottom d-flex justify-content-between align-items-center">
  <p> Find a play session for your kid:</p>
      <%= f.input :time, required: false, as: :datetime, html5: true %>
      <%= f.input :hood, required: false %>
      <%= f.submit "Filter"%>
      <%= link_to 'Reset', play_sessions_path %>
  <% end %>
</div>
