<div class="container mt-4">
  <%= simple_form_for :search, url: play_sessions_path, method: "GET" do |f| %>
    <h1> <%= t(".title") %></h1>
    <%= f.input :date_and_start_time, required: false, as: :string, input_html: { class: "datepicker" } %>
    <%= f.input :neighbourhood, required: false, collection: Address::NEIGHBOURHOOD, prompt: :translate %>
    <div class="bottom d-flex justify-content-center align-items-center">
      <%= f.submit t(".filter"), class: "button_1" %>
      <%= link_to t(".reset"), play_sessions_path, class: "button_2" %>
    </div>
  <% end %>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

    <div class ="cards">
      <% @play_sessions.each do |play_session| %>
        <%= link_to play_session_path(play_session), {:style=>"text-decoration: none; color: black;"} do %>
        <div class="card" >
          <div class="card-header", style="background-image:linear-gradient(to bottom, rgba(0,0,0,0.1),rgba(0,0,0,0.3)), url(<%= cl_image_path play_session.photo.key %>); background-repeat: no-repeat; background-size: cover; background-position: center;">
            <h2> <%= play_session.name.capitalize %> </h2>
          </div>
            <div class="card-infos">
              <div class="card-details">
                <p> <i class="far fa-clock"></i>  &nbsp;  <%= play_session.appointment.start_time.strftime("%d/%m/%Y - %H:%M") %> </p>
                <p>  <i class="fas fa-map-pin"></i>  &nbsp; &nbsp; &nbsp;  <%= play_session.appointment.play_space.address.neighbourhood %> </p>
              </div>
              <%= cl_image_tag play_session.user.avatar.key, class: "play-session-provider-avatar-bordered" %>
              <h4> R$<%= play_session.sum_fees %></h4>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <br>
  <br>
</div>
