<div class="container m-auto">
  <%= link_to "New Play Session", appointments_path, class: "btn"  %>
  <% @play_sessions.each do |play_session| %>
    <div class="d-flex bg-light p-4 mb-10">
      <%= cl_image_tag play_session.photo.key, height: 300, width: 400, crop: :fill %>
      <div class= "d-flex-columns m-auto">
        <h2> <%= link_to play_session.name.capitalize, play_session_path(play_session) %></h2>
        <p>How this play session will be: <%= play_session.description %></p>
        <p>Requirements: <%= play_session.requirements %></p>
        <p>Status: <%= play_session.status %></p>
        <p>Your fee per kid: <%= play_session.worker_fee_per_kid_cents %></p>
        <p>Total fee per kid: <%= play_session.sum_fee %></p>
      </div>
      <div class="links">
        <%= link_to "Edit", play_session_path(play_session.id), class: "btn" %>
        <%= link_to "Delete", play_session_path(play_session.id), method: :delete, remote: true, class: "btn" %>
      </div>
    </div>
  <% end %>
</div>
